Hi <%= @user_email %>

<p> Thanks for registering to <a href="<%=ENV['DOMAIN_HOST'] %>" >theDownWinder.com</a> </p>


<p> Please click the link below to confirm registration: </p>
<p> **** 
    <a href= "<%= ENV['DOMAIN_NAME'] %>/mailconfirmation/?mail_token=<%= @user_confirmation_token %>" >
        Confirm my account
    </a> ****
</p>

<hr>




<p>
Note that you need to be registered and have your mail confirmed 
to create an event and invite other users.</p>
<p>
You can create an event preferably with the map. You need to set 2 points and the date: 
locate on the map, click and set the starting point, and again for an end point.
 Finally, set the date. That's it.
</p>
<p>
To invite and select several other members, navigate to the list icon and select buddies.
They will receive a mail with the details if you save. You can even send a picture to help people to localize a place.
</p>

<p>Happy downwind!</p>